<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd"
       xmlns:context="http://www.springframework.org/schema/context">
    <!-- Annotation-based beans -->
    <context:component-scan base-package="com.company.joinds"/>
    <bean id="cubaDataSource_account"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_account"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_account"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/account-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_account"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_account"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_account"/>
        <property name="dataSource"
                  ref="cubaDataSource_account"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="account"/>
    </bean>
    <bean id="cubaDataSource_publisher"
          class="com.haulmont.cuba.core.sys.CubaJndiObjectFactoryBean">
        <property name="jndiNameAppProperty"
                  value="cuba.dataSourceJndiName_publisher"/>
        <property name="resourceRef"
                  value="true"/>
    </bean>
    <bean id="entityManagerFactory_publisher"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation"
                  value="file:${cuba.dataDir}/publisher-persistence.xml"/>
        <property name="dataSource"
                  ref="cubaDataSource_publisher"/>
        <property name="jpaVendorAdapter"
                  ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_publisher"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory"
                  ref="entityManagerFactory_publisher"/>
        <property name="dataSource"
                  ref="cubaDataSource_publisher"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier"
                   value="publisher"/>
    </bean>
</beans>
